.bloc{
	width: 350px;
	height: 20px;
	color:grey;
	border-radius:20px;
	border-style:solid;
	border-width: 2px;
	text-align: left;
	margin: 5px;
	padding: 5px;

}

.mess{

	width: 350px;
  height:150px;
  color: grey;
     border-radius:20px;
	border-style:solid;
	border-width: 2px;
	text-align: left;
	margin: 5px;
	padding: 5px;
}